---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}
</article>

{% if page.discus_identifier %}
  <div id="disqus_thread" class="article-comments"></div>
  <script src="https://{{ site.discus_identifier }}.disqus.com/embed.js" async defer></script>
  <noscript>Please enable JavaScript to view the comments.</noscript>
{% endif %}
